
body{
  background-color: #222222;
  color: antiquewhite;
  font-family: 'Inter', sans-serif;
}


h2{
  font-family: 'Teko', sans-serif;
}
.main_img {
  max-height: 60vh;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  filter:grayscale(100%);
}

img:hover {
  filter: blur(4px)
}

.row {
  padding: 15px;
  max-height: 35vh;
  display: flex;
  justify-content: space-around;
  
}

.small_img {
  border-radius: 8px;
  max-width: 150px;
  height: auto;
  filter:grayscale(100%);

}

.card {
  background-color: #444444;
  padding: 15px;
}

.products {
  padding: 25px;

}

.img-fluid{
  max-width: 140px;

}
.img-fluid:hover {
  filter: grayscale(1);
}