
body{
  background-color: #222222;
  color: antiquewhite;
  font-family: 'Inter', sans-serif;
}


h2{
  font-family: 'Coda Caption', sans-serif;
}
.main_img {
  max-height: 60vh;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  filter:grayscale(100%);
}

img:hover {
  filter: blur(4px)
}

.row {
  padding: 15px;
  max-height: 35vh;
  display: flex;
  justify-content: space-around;
  
}

.small_img {
  border-radius: 8px;
  max-width: 150px;
  height: auto;
  filter:grayscale(100%);

}

.card {
  background-color: #444444;
  padding: 15px;
}

.products {
  padding: 25px;
}

.payme {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0,1);
  padding: 30px;
}

.payme .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: rgb(185, 179, 179);
}

.contact-form .form-field {
  position: relative;
  margin: 32 px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color:silver;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

}

.img-fluid{
  max-width: 140px;

}
.img-fluid:hover {
  filter: grayscale(1);
}